<!doctype html>
<html>
<head>

<meta charset="utf-8">

<!-- bower:js -->
<script src="vendor/angular/angular.js"></script>
<script src="vendor/moment/moment.js"></script>
<script src="vendor/moment-range/lib/moment-range.js"></script>
<script src="vendor/angular-sanitize/angular-sanitize.js"></script>
<!-- endbower -->


<script src="angular-horizontal-timeline.js"></script>

<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="angular-horizontal-timeline.css">

</head>

 <body  ng-app="demoApp" ng-controller="demoCtrl">

 <div class="row">

<div  class="col-md-2"></div>

 <div class="panel panel-default col-md-8" style="height:888px;">
   <div class="col-md-2"></div>
<h1>Combined Directives</h1>
  <br>
  <div class="row">
     <div class="col-md-2"></div>
	<div  class="col-md-8 col-xs-8">

	  <combined-timeline selected-event="selected"
			start-date="{{startDate}}"
			end-date="{{endDate}}"
			events="events" zoomout="zoomout()" zoomin="zoomin()" today="today()" defaultt ="defaultt()" left ="left()" right="right()"  currentday="currentday" mytitle="mytitle"  mycontent="mycontent"  >

		</combined-timeline>

    <!-- <horizontal-timeline selected-event="selected"
      start-date="{{startDate}}"
      end-date="{{endDate}}"
      events="events" zoomout="zoomout()" zoomin="zoomin()" today="today()" defaultt ="defaultt()" left ="left()" right="right()" currentday="currentday"   >
    </horizontal-timeline>

     <slider
        selected-event="selected"  events="events" slideright="slideright()" slideleft="slideleft()" mytitle="mytitle"  mycontent="mycontent"  >
    </slider> -->

	</div>

<br><br><br><br>
<br><br><br><br><br><br>
<p> List of Events titles :  </p>
<p ng-repeat="event in events"><a ng-click="setSelected($index);events[$index].content">{{events[$index].title}} at {{events[$index].date}}</a></p>
<br>
<p> Selected event Number : {{selected}}  </p>
 <br><br><br><br><br><br>

</div>

</div>

</body>
</html>
